# Pandas Deep Dive

this is a tool built on numpy array for storage and manipulation of tabular data 
 - it allows for storage, cleaning, exploration (EDA), and manipulation of data 

##### Pandas Shape
the major data structures in pandas are - Dataframe and -series; 
    
pandas series is a one column 2 dimensional datastructure

Dataframe is a multiple column, 2 dimesional data structure
    - dataframe consist: data(actual data), index(row number), column(names)

In [2]:
#import the pandas 
import pandas as pd

#import numpy
import numpy as np

Concepts
- dataframe creation
- Loading data with pandas
- dataframe slicing(accesing data)
- Dataframe manipulation (sorting, filtering, grouping)
-

#### 1. Pandas series

In [ ]:
pd.series()

# insert inside the parenthesis the data to output (list, tuple,dictionary)extras: the name for the output(optional), and dtype= for data type
list = [1, 2, 3, 4, 5]
series = pd.Series(list)
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

#### 2. Dataframe

pd.DataFrame()

used to create dataframes(2 dimensional labeled data structure )
    - dataframes have 3 elements: data, index, columns

dataframes can be created from: lists, dictionaries, numpy array

In [13]:
# Create dictionary containing data.
dict_df = {'Age':[32, 30, 25], 'Nationality':['Portugal', 'Argentina', 'Brazil'], 'Overall':[94, 93, 92]}

# Create index â€“ names of players.
index = ['Christiano Ronaldo', 'Lionel Messi', 'Neymar']

# Create a DataFrame by passing in data, index, and columns.
pd.DataFrame(data=dict_df, index=index)

                    Age Nationality  Overall
Christiano Ronaldo   32    Portugal       94
Lionel Messi         30   Argentina       93
Neymar               25      Brazil       92

##### Sorting

In [ ]:

#sort single column 
data.sort_values( by = "column to sort")

#by default sorting is in asceding form to change that ascending=False is used 

#sort multiple columns
data.sort_values(by =["column a", "column b"])

# restrict the output table .head() function at the end of the code line

#### Filtering

In [ ]:
#syntax for filtering a single column
data[data["column"] > 'condition']

#filtering multiple columns - each filter is enclosed in a round brackets

data(data["column a"]> 5) & (data["column b"] < 10)