In [1]:
#import pandas and numpy
import pandas as pd
import numpy as np

In [5]:
#import runners data 
data = pd.read_csv(r"C:\Users\Morinyo Baddestman\Documents\50_Days_Of_Data_Analysis\running_data.csv")
data.head()

    Name  Distance (km)  Time (hours)
0  Wendy           9.10          4.24
1   Yara           8.61          4.16
2  Grace           7.17          2.94
3  Grace           6.36          2.78
4  David           7.96          3.46