In [ ]:
#import pandas, numpy and matplotlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
#import runners data 
data = pd.read_csv(r"C:\Users\Morinyo Baddestman\Documents\50_Days_Of_Data_Analysis\running_data.csv")
data.head()

    Name  Distance (km)  Time (hours)
0  Wendy           9.10          4.24
1   Yara           8.61          4.16
2  Grace           7.17          2.94
3  Grace           6.36          2.78
4  David           7.96          3.46

analysis roadmap: define project objectives(), understand the data(EDA), data cleaning, 


analysis actions to perfom on the data 
- plot the distribution for distatnces as well as the time
- 5 number summary for distances 
- find the speed of all the runners ()
-

In [ ]:
#create a copy of the dataset to

In [12]:
# create a copy of a dataframe
run = data
run.head()

    Name  Distance (km)  Time (hours)
0  Wendy           9.10          4.24
1   Yara           8.61          4.16
2  Grace           7.17          2.94
3  Grace           6.36          2.78
4  David           7.96          3.46

In [32]:
# add another column for speed in Km/hr
run["speed_kmh"] = (run["Distance (km)"] / (run["Time (hours)"]/60)).round(3)
run.head()

    Name  Distance (km)  Time (hours)  speed_kmh
0  Wendy           9.10          4.24    128.774
1   Yara           8.61          4.16    124.183
2  Grace           7.17          2.94    146.327
3  Grace           6.36          2.78    137.266
4  David           7.96          3.46    138.035

In [29]:
# upload rest data and merge it to the run dataset
rest = pd.read_csv(r"C:\Users\Morinyo Baddestman\Documents\50_Days_Of_Data_Analysis\runner_rest.csv")

rest.head()

  Runners  Rest Time (Mins)
0   Grace                45
1   Chris                25
2   Frank                58
3   Alice                47
4    Noah               105

In [35]:
# merge run and rest dataframes based on runners name 
run_rest = pd.merge(run, rest, on = "Name", how="left" )

run_rest

KeyError: 'Name'